{% comment %} aparte student page {% endcomment %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ name }} *** {{title_project}} </title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
    <body>
        <header>
      <a href="/">exposing</a>
    </header>
    <main>

        <h1>{{ name }}</h1>
        <h2> {{ context }} </h2>
        <img src= "{{ first_project_image }}" alt="{{ name }}"/>
        <h3> {{ bio }} </h3>
        <h2> {{ title_project }} </h2>
        <h3> {{ description_project }} </h3>
        <img src= "{{ project_image_1 }}" alt="{{ name }}"/>
        <img src= "{{ project_image_2 }}" alt="{{ name }}"/>
        <img src= "{{ project_image_3 }}" alt="{{ name }}"/>
        <img src= "{{ project_image_4 }}" alt="{{ name }}"/>
        <img src= "{{ project_image_5 }}" alt="{{ name }}"/>
        <img src= "{{ project_image_6 }}" alt="{{ name }}"/>
        <img src= "{{ project_image_7 }}" alt="{{ name }}"/>
        <img src= "{{ project_image_8 }}" alt="{{ name }}"/>
        <img src= "{{ project_image_9 }}" alt="{{ name }}"/>
        <img src= "{{ project_image_10 }}" alt="{{ name }}"/>
        <a href="{{ link_1 }}">{{ link_1 }}</a>
        <a href="{{ link_2 }}">{{ link_2 }}</a>
        
        </main>
        <aside>
        {% for student in collections.students %}
          <p>{{ student.data.name }}</p>
          <a
            class="student-thumb"
            href="{{ student.url }}"
            alt=""
          >
            <img src="{{ student.data.first_project_image }}" />
          </a>
          {% endfor %}
        </aside>
    </body>
</html>