{% comment %} aparte student page {% endcomment %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ student_name }} &mdash; {{project_title}} </title>
    <meta name="description" content=" {{ student_name }} &mdash; {{project_title}} " />
    <meta property="og:url" content="www.sintlucasmasters.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ student_name }}" />
    <meta property="og:description" content=" {{ body|shorten(50)}}" />
    <meta property="og:image" content="{{ main_image }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="/css/main.css" />
  </head>
    <body>
    <header>
      <div class="home"><a href="/progress" class="home" >&#10594;</a></div>
        <p class="title">Practise</p>
        <p class="title">Practice</p>
    </header>
    <main>
        <div class="page-student">
          <p class="page-title" >{{ student_name }}</p>
          <p class="page-title" ><mark>{{ project_title }}</mark></p>
          <p class="page-text" > {{ context }} </p>
          <p class="page-text" > {{ year }} </p>
          <img class="page-img" src="{{ main_image }}"/>
          <p class="page-text-brood" > <mark>bio</mark> {{ bio }} </p>
          {% for image in images %}
          <img class="page-img" src="{{ image }}" alt="" />
          {% endfor %}
          <p class="page-text-brood">{{ body }}</p>
          {% for link in social_links %}
          <a class="social_links" target="_blank" href="{{ link }}">{{ link }}</a>
          {% endfor %}
        </div>
      </main>

      <script>      //hamburger button
      function myFunction() {
        var x = document.getElementById("intro");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }</script>
        <footer>
    <img class="logo" src="/images/sla-logo.png" />
    <div class="contact">
      <a href="https://www.sintlucasantwerpen.be/">Sint Lucas Antwerpen</a>
      <p>Van Schoonbekestraat 143</p>
      <p>2018 Antwerpen</p>
    </div>
  </footer>

    </body>

</html>