{% comment %} aparte student page {% endcomment %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ name }} *** {{title_project}} </title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
    <body>
        <header>
      <a href="/">exposing</a>
    </header>
    <main>

        <p>{{ name }}</p>
        <p>{{ projecttitle }}</p>
        <p> {{ context }} </p>
        <p> {{ year }} </p>
        <p> {{ bio }} </p>
        <img src="{{ main_image }}">
        
        <img src= "{{ images }}" alt="{{ name }}"/>
        <a href="{{ social_links }}">{{ link_1 }}</a>
        
        </main>
        <aside>
        {% for student in collections.students %}
          <p>{{ student.data.name }}</p>
          <a
            class="student-thumb"
            href="{{ student.url }}"
            alt=""
          >
            <img src="{{ student.data.main_image }}" />
          </a>
          {% endfor %}
        </aside>
    </body>
</html>