{% comment %} aparte student page {% endcomment %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ student_name }} &mdash; {{project_title}} </title>
    <meta name="description" content=" {{ student_name }} &mdash; {{project_title}} " />
    <meta property="og:url" content="www.sintlucasmasters.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ student_name }}" />
    <meta property="og:description" content=" {{ body|shorten(50)}}" />
    <meta property="og:image" content="{{ main_image }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="/css/main.css" />
        <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </head>
    <body>
    <header>
      <a href="/progress" class="home" >&#10594;</a>
      <div class="titles">
        <h1><mark>Practise Practice</mark></h1>
        <h1>Sint Lucas Antwerpen Masters</h1>
      </div>

      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <p>info</p>
      </a>
            <div id="inner-intro">
        <p >
          Practise Practice, 26.06 &mdash; 04.06.2021, everyday from 13h &mdash;
          17h, Masters expo at Sint Lucas Antwerpen, Van Schoonbekestraat 143,
          2018 Antwerpen, Nocturne 01.06 from 18h &mdash; 21h
        </p>
      </div>
    </header>


    <main>
        <div class="student-page">
          <p class="page-text" >{{ student_name }}</p>
          <p class="page-text" >{{ project_title }}</p>
          <p class="page-text" > {{ context }} </p>
          <p class="page-text" > {{ year }} </p>
          <p class="page-text" > {{  }} </p>
          <img class="page-img" src="{{ main_image }}"/>
          <p class="page-text-brood" > {{ bio }} </p>
          {% for image in images %}
          <img class="page-img" src="{{ image }}" alt="" />
          {% endfor %}
          <p class="page-text-brood">{{ body }}</p>
          {% for link in social_links %}
          <a class="social_links" target="_blank" href="{{ link }}">{{ link }}</a>
          {% endfor %}
        </div>
      </main>

      <script>      //hamburger button
      function myFunction() {
        var x = document.getElementById("inner-intro");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }</script>
        <footer>
    <img class="logo" src="/images/sla-logo.png" />
    <div class="contact">
      <a href="https://www.sintlucasantwerpen.be/">Sint Lucas Antwerpen</a>
      <p>Van Schoonbekestraat 143</p>
      <p>2018 Antwerpen</p>
    </div>
  </footer>

    </body>

</html>